@import '../../../media.scss';

.todolists {
  overflow: visible;
  min-height: 100vh;
  position: relative;
  list-style-type: none;
  padding: 1.5rem  0 0 0 ;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100vw;

  &__progressbar{
	margin: 0 auto 0 auto;
	width:100%;
	//border-radius: 1rem;
	height: 0.2rem;
	background-color: #00BBD3;
	position: relative;


	&_done{
	  border-top-right-radius: 1rem;
	  border-bottom-right-radius: 1rem;
	  height: 0.2rem;
	  background-color: #FF9800;
	}
  }



  &__item {

	display: flex;

	flex-direction: column;
	background-color: white;
	border-radius: 0.2rem;
	margin: 0 1.2rem 1.2rem 1.2rem;
	position: relative;
	border: 0.13rem solid #00BBD3;
	width: 18rem;

	&_hidden{
	  visibility: hidden;
	  opacity: 0;
	  transition: visibility 0.3s, opacity 0.3s linear;
	}


  }

  &__header{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	min-height: 1.6rem;
	background-color: #00BBD3;
  }

  &__title{
	margin: 0.2rem 0.4rem;
	color: white;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 1.14rem;
	width: 80%;
	overflow: hidden;
  }

  &__edit{
	margin-top: 0.2rem;
	margin-right: 0.2rem;
  }

  &__delete{
	margin-top: 0.2rem;
	margin-right: 0.6rem;
  }
}