.tasks {
  padding: 0.1rem 0.3rem;
  min-height: 2rem;
  max-height: 12rem;
  margin: 0.3rem 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none; }

.tasks__item {
  width: 90%;
  min-height: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem 0 0.1rem; }

.tasks__item__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  margin-left: 0.5rem; }

.tasks__item__text_done {
  color: #00BBD3;
  text-decoration: line-through; }

.md-checkbox {
  position: relative;
  width: 90%; }

.md-checkbox label {
  cursor: pointer; }

.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0; }

.md-checkbox label:before {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  cursor: pointer;
  transition: background .3s; }

.md-checkbox input[type="checkbox"] {
  outline: 0;
  margin-right: 10px; }

.md-checkbox input[type="checkbox"]:checked + label:before {
  background: #00BBD3;
  border: 2px solid #00BBD3; }

.md-checkbox input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg);
  top: 5.5px;
  left: 5px;
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top-style: none;
  border-right-style: none; }
