.todolist__button {
  cursor: pointer;
  background-color: #FF9800;
  position: fixed;
  bottom: 1.2rem;
  right: 1.2rem;
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border: 0;
  outline: none;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 2rem;
  font-family: "Open Sans";
  font-weight: 400;

  &:active {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0.3s;
  }
}