.todolist__button {
  cursor: pointer;
  background-color: #FF9800;
  position: fixed;
  display: inline-block;
  border: 0;
  outline: none;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  font-family: "Open Sans";
  font-weight: 400;
  @include respond-to(handhelds) {   width: 3.5rem; height: 3.5rem; font-size: 2rem; bottom: 1.2rem; right: 1.2rem;}
  @include respond-to(medium-screens) {  width: 4rem; height: 4rem; font-size: 2.3rem;  bottom: 1.8rem; right: 1.8rem;}
  @include respond-to(laptop-screens) {   width: 4.5rem; height: 4.5rem; font-size: 2.8rem;  bottom: 2.2rem; right: 2.2rem;}
  @include respond-to(wide-screens) {   width: 4.5rem; height: 4.5rem; font-size: 2.8rem;  bottom: 3rem; right: 3rem;}

  &:active {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0.3s;
  }
}