@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=cyrillic");
.scrollable::-webkit-scrollbar-track {
  background-color: white; }

.scrollable::-webkit-scrollbar {
  width: 7px;
  background-color: white; }

.scrollable::-webkit-scrollbar-thumb {
  background-color: #00BBD3; }

.scrollable::-webkit-scrollbar-track {
  background-color: white; }

.scrollable::-webkit-scrollbar {
  width: 7px;
  background-color: white; }

.scrollable::-webkit-scrollbar-thumb {
  background-color: #00BBD3; }

.create-todolist {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  position: relative;
  box-shadow: 12px 12px 14px rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 500px) {
    .create-todolist {
      width: 19rem;
      height: 24rem; } }
  @media only screen and (min-width: 501px) and (max-width: 799px) {
    .create-todolist {
      width: 26rem;
      height: 28rem; } }
  @media only screen and (min-width: 801px) and (max-width: 1023px) {
    .create-todolist {
      width: 30rem;
      height: 80%; } }
  @media only screen and (min-width: 1024px) {
    .create-todolist {
      width: 34rem;
      height: 80%; } }
  .create-todolist__button {
    position: absolute;
    bottom: 2.2rem;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0.6rem 0.7rem;
    border-radius: 2px;
    font-size: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); }
    .create-todolist__button_add-task {
      left: 2.2rem;
      background-color: #FF9800; }
    .create-todolist__button_save {
      right: 6.6rem;
      background-color: #FF9800; }
    .create-todolist__button_close {
      right: 2.2rem;
      background-color: #00BBD3; }

.create-todolist__form {
  margin-top: 0.5rem;
  margin-left: -1.2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-between;
  align-items: center; }

.group {
  position: relative; }

.create-todolist__text {
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;
  width: 15rem;
  border: none;
  border-bottom: 1px solid #757575; }
  .create-todolist__text_error {
    border-bottom: 1px solid #F44336; }

.create-todolist__text:focus {
  outline: none; }

.create-todolist__label {
  color: #999;
  font-size: 1.2rem;
  position: absolute;
  pointer-events: none;
  left: 0.2rem;
  top: 8px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-family: "Open Sans";
  font-weight: 400; }
  .create-todolist__label_error {
    color: #F44336; }

.create-todolist__text:focus ~ .create-todolist__label, .create-todolist__text:valid ~ .create-todolist__label {
  top: -0.7rem;
  font-size: 0.85rem;
  color: #00BBD3; }

.create-todolist__text:invalid {
  box-shadow: none; }

.bar {
  position: relative;
  display: block;
  width: 16rem; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #00BBD3;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

.create-todolist__text:focus ~ .bar:before, .create-todolist__text:focus ~ .bar:after {
  width: 50%; }

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

.create-todolist__text:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #00BBD3; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #00BBD3; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #00BBD3; }
  to {
    width: 0;
    background: transparent; } }

.tasks-form {
  width: 16rem;
  padding: 0.1rem 2rem;
  margin: 0.3rem 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  height: 20rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none; }
  @media only screen and (max-width: 500px) {
    .tasks-form {
      height: 14rem; } }
  @media only screen and (min-width: 501px) and (max-width: 799px) {
    .tasks-form {
      height: 17rem; } }
  @media only screen and (min-width: 801px) and (max-width: 1023px) {
    .tasks-form {
      height: 18rem;
      margin-top: 0.8rem; } }
  @media only screen and (min-width: 1024px) {
    .tasks-form {
      height: 18rem;
      margin-top: 0.8rem; } }

.tasks-form__item {
  width: 100%;
  min-height: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem 0 0.1rem;
  margin-bottom: 0.5rem; }

.tasks-form__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.tasks-form__text_done {
  color: #00BBD3;
  text-decoration: line-through; }

.todolist__button {
  cursor: pointer;
  background-color: #FF9800;
  position: fixed;
  display: inline-block;
  border: 0;
  outline: none;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-family: "Open Sans";
  font-weight: 400; }
  @media only screen and (max-width: 500px) {
    .todolist__button {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 2rem;
      bottom: 1.2rem;
      right: 1.2rem; } }
  @media only screen and (min-width: 501px) and (max-width: 799px) {
    .todolist__button {
      width: 4rem;
      height: 4rem;
      font-size: 2.3rem;
      bottom: 1.8rem;
      right: 1.8rem; } }
  @media only screen and (min-width: 801px) and (max-width: 1023px) {
    .todolist__button {
      width: 4.5rem;
      height: 4.5rem;
      font-size: 2.8rem;
      bottom: 2.2rem;
      right: 2.2rem; } }
  @media only screen and (min-width: 1024px) {
    .todolist__button {
      width: 5rem;
      height: 5rem;
      font-size: 3rem;
      bottom: 3rem;
      right: 3rem; } }
  .todolist__button:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0.3s; }

.scrollable::-webkit-scrollbar-track {
  background-color: white; }

.scrollable::-webkit-scrollbar {
  width: 7px;
  background-color: white; }

.scrollable::-webkit-scrollbar-thumb {
  background-color: #00BBD3; }

.todolists {
  overflow: visible;
  min-height: 100vh;
  position: relative;
  list-style-type: none;
  padding: 1.5rem  0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100vw; }
  .todolists__item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.2rem;
    margin: 0 1.2rem 1.2rem 1.2rem;
    position: relative;
    border: 0.13rem solid #00BBD3;
    width: 18rem; }
  .todolists__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 1.6rem;
    background-color: #00BBD3; }
  .todolists__title {
    margin: 0.2rem 0.4rem;
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.14rem;
    width: 80%;
    overflow: hidden; }

.scrollable::-webkit-scrollbar-track {
  background-color: white; }

.scrollable::-webkit-scrollbar {
  width: 7px;
  background-color: white; }

.scrollable::-webkit-scrollbar-thumb {
  background-color: #00BBD3; }

.tasks {
  padding: 0.1rem 0.3rem;
  min-height: 2rem;
  max-height: 12rem;
  margin: 0.3rem 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none; }

.tasks__item {
  width: 97%;
  min-height: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem 0 0.1rem; }

.tasks__item__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  margin-left: 0.5rem; }

.tasks__item__text_done {
  color: #00BBD3;
  text-decoration: line-through; }

.md-checkbox {
  position: relative;
  width: 90%; }

.md-checkbox label {
  cursor: pointer; }

.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0; }

.md-checkbox label:before {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  cursor: pointer;
  transition: background .3s; }

.md-checkbox input[type="checkbox"] {
  outline: 0;
  margin-right: 10px; }

.md-checkbox input[type="checkbox"]:checked + label:before {
  background: #00BBD3;
  border: 2px solid #00BBD3; }

.md-checkbox input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg);
  top: 5.5px;
  left: 5px;
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top-style: none;
  border-right-style: none; }

body {
  font-size: 1vw; }

.todo-list {
  background-color: #00BBD3;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .todo-list__wrapper {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    position: relative;
    background-color: azure; }
