@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=cyrillic');
$small: 500px;
$medium: 800px;
$large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
	@media only screen and (max-width: $small) { @content; }
  }
  @else if $media == medium-screens {
	@media only screen and (min-width: $small + 1) and (max-width: $medium - 1) { @content; }
  }
  @else if $media == laptop-screens {
	@media only screen and (min-width: $medium + 1) and (max-width: $large - 1) { @content; }
  }
  @else if $media == wide-screens {
	@media only screen and (min-width: $large) { @content; }
  }
}



.scrollable::-webkit-scrollbar-track {
  background-color: white;
}

.scrollable::-webkit-scrollbar {

  width: 7px;
  background-color: white;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #00BBD3;
}
